<!DOCTYPE html>
<html>
  <head>
    <title>Shack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<script type="text/javascript">
  window.shackURL = "<%= image_url('shack_logo.jpg') %>";
  window.shack_titleURL = "<%= image_url('shack_title.png') %>";
  window.splash_shack_1URL = "<%= image_url('splashpage-shack-1.png') %>";
  window.splash_shack_2URL = "<%= image_url('splashpage-shack-2.png') %>";
  window.no_messageURL = "<%= image_url('no-message-1.png') %>";
  window.shack_channelURL = "<%= image_url('shack-channel.png') %>";
  window.add_iconURL = "<%= image_url('shack_add.png') %>";
  window.info_iconURL = "<%= image_url('shack-info-1.png') %>";

</script>
  <body>
  <body style = "margin:0">
    <%= yield %>
  </body>
</html>
